* {
    box-sizing: border-box;
}

header {
    width:100%;
    height:64px;
    padding:24px;
    background-color: white;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#989898
    
}

/* Common Styles */
h1 { font-size: 30px; font-weight:bold;}
h2 { font-size: 24px;}
h3 { font-size: 22px;}
h4 { font-size: 20px;}
h5 { font-size: 18px;}

h1, h2, h3, h4, h5 {
    color:#4f4f4f
}
/* Navbar Logo*/
#logo-container {
    display: flex;
    align-items: center;
    margin-left:24px;
}
/* Navbar Name*/
#name1 {
    display:flex;
    color:#01161E
}

#name2 {
    display:flex;
    color:#9f9b9b
}

/* Navbar-Links*/
nav {
    display: flex;
    width:100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
}

nav a {
    height:64px;
    color:black;
    text-decoration: none;
    margin-right: 24px;
    padding:16px;
}

/* Section 1 -Title*/
.Section1 { 
    background-color: #c4c2c2;
    display: flex;
    flex-direction:row;
}
.Section1-Banner {
    margin:32px 24px;
    width:60%;

}

aside
.Section1-Textbox {

    align-items: center;
    justify-content: center;
}
.Start-Button{
    display:flex;
    width:60%;
    color: #515151;
    align-items: center;
    justify-content: center;
}
/* Section 2 - Introduction*/
.Section2 { 
    display:flex;
    flex-direction: row;
    width:60%;
}

aside
.Sidebar-Images {
    display:block;
    width: 40%;
    float:right;

}
.Section2-Banner {
    margin:32px 24px;
    width:60%;
}
.Section2-Textbox {
    display:flex;
    text-align: bottom; 
  
}

.Section2-Orientation {
    display:flex;
    flex-direction:column;

    flex-direction:flex-end;
}

/* Section 3 - Courses*/
.Section3 { 
    background-color: #e1dfdf;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    margin:32px 24px;
}
.Section3-Header {
    text-align: center;

}

.Section3-Image {
    margin:32px 24px;
    width:60%;
}
.Section3-textbox {
    display:flex;
    flex-wrap: wrap;
    width:60%;
    margin-left:24px;
    align-items: center;
    justify-content:left;
}

/* Section 4 - Thesis Exhibits*/
.Section4 {
    display:flex;
    flex-direction: row;
    width:60%;
}

video {
    width: 60%;
    height: auto;
  }

/* Footer*/
  footer {
    text-align: left;
    padding-left:16px;

  }

  /* Mobile screen */
@media screen and (max-width: 720px) 
{
    nav {
        flex-direction: column;
    }

    aside {
        display: none;
    }

    .Section1-Textbox {
        display: none;
    }

    .Section2-Banner {
        display: none;
    }

    .Section4-Images {
        display: none;
    }




    }


